
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 15px;
  background-color: #93a4aa;
}
.app-content {
  flex-grow: 1;
}
.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 15px;
  background-color: #93a4aa;
  align-self: flex-end;
  margin-top: 20px;
}
.page-home_h1 { 
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.page-home_content_layout {
  position: relative;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  justify-items: center;
  /* background-color: #ffeadf; */
}
.page-home_content_layout::after {
  content: '';
  height: 100%;
  width: 1px;
  background-color: #b5b5b5;
  position: absolute;
  left: 50%;
}
.page-home_content_images-list,
.page-home_content_videos-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 450px;
}
.page-home_content_images-list {}
.page-home_content_videos-list {}
.page-home_content_img {
  width: 100%;
}
.page-home_content_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-home_content-video-wrapper {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}
.page-home_content-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0px;
  /* background-color: #c6ffc6; */
}
.page-home_content-item:not(:last-of-type) {
  margin-bottom: 20px;
}
.page-home_content-item-title {
  font-weight: 600;
}
.page-home_content-item-desc {}